<%= form_with(model: issue, local: true, html:({class:"ts form"})) do |form| %>
  <% if issue.errors.any? %>
  <div id="error_explanation">
    <h2><%= pluralize(issue.errors.count, "error") %> prohibited this issue from being saved:</h2>
    <ul>
    <% issue.errors.full_messages.each do |message| %>
      <li><%= message %></li>
    <% end %>
    </ul>
  </div>
  <% end %>

  <div class="fields">
    <div class="six wide field">
      <%= form.label :title , t('issues.items.title') %>
      <%= form.text_field :title, id: :issue_title %>
    </div>

    <div class="four wide field">
      <%= form.label :project , t('issues.items.project') %>
      <%= form.text_field :project, id: :issue_project %>
    </div>

    <div class="three wide field">
      <%= form.label :status , t('issues.items.status') %>
      <%= form.number_field :status, id: :issue_status %>
    </div>

    <div class="three wide field">
      <%= form.label :priority , t('issues.items.priority') %>
      <%= form.number_field :priority, id: :issue_priority %>
      <small>
        <a href="#" onclick="opencmodal()">
          <i class="help circle icon"></i> 點選以取得說明。
        </a>
      </small>
    </div>
  </div>

  <div class="field">
    <details class="ts accordion" open>
        <summary>
            <i class="dropdown icon"></i> 狀態說明
        </summary>
        <div class="content">
            <p>What?</p>
        </div>
    </details>
  </div>

  <div class="field">
    <%= form.label :context , t('issues.items.context') %>
    <%= form.text_area :context, id: :issue_context %>
  </div>

  <div class="fields">
    <div class="eight wide field">
      <%= form.label :asker , t('issues.items.asker') %>
      <%= form.text_field :asker, id: :issue_asker %>
    </div>
    <div class="eight wide field">
      <%= form.label :developer , t('issues.items.developer') %>
      <%= form.text_field :developer, id: :issue_developer %>
    </div>
  </div>

  <div class="actions">
    <%= form.submit t('issues.action.submit'), class:"ts primary button" %>
  </div>
<% end %>


<div class="ts modals dimmer">
  <dialog id="cmodal" class="ts closable tiny modal" data-modal-initialized="true">
    <div class="content">
      <p>點擊淡化幕也能夠關閉這個視窗</p>
    </div>
    <div class="actions">
      <button class="ts positive button"> 是的 </button>
    </div>
  </dialog>
</div>