<p id="notice"><%= notice %></p>

<h1><%= t('issues.title') %></h1>

<table class="ts table">
  <thead>
    <tr>
      <th><%= t('issues.items.project') %></th>
      <th><%= t('issues.items.title') %></th>
      <th><%= t('issues.items.asker') %></th>
      <th><%= t('issues.items.developer') %></th>
      <th><%= t('issues.items.status') %></th>
      <th><%= t('issues.items.priority') %></th>
      <th colspan="3"><%= t('issues.action.item') %>（<%= link_to t('issues.action.add'), new_issue_path %>）</th>
    </tr>
  </thead>

  <tbody>
    <% @issues.each do |issue| %>
      <tr>
        <td><%= issue.project %></td>
        <td><%= issue.title %></td>
        <td><%= issue.asker %></td>
        <td><%= issue.developer %></td>
        <td><%= issue.status %></td>
        <td><%= issue.priority %></td>
        <td><%= link_to t('issues.action.show'), issue %></td>
        <td><%= link_to t('issues.action.edit'), edit_issue_path(issue) %></td>
        <td><%= link_to t('issues.action.destroy.item'), issue, method: :delete, data: { confirm: t('issues.action.destroy.confirm') } %></td>
      </tr>
    <% end %>
  </tbody>
</table>
<br>