<h1><%= t('issues.title') %></h1>

<table class="ts very basic table">
  <thead>
    <tr>
      <th><%= t('issues.items.title') %></th>
      <th><%= t('issues.items.project') %></th>
      <th><%= t('issues.items.status') %></th>
      <th><%= t('issues.items.priority') %></th>
      <% if current_user %>
      <th colspan="2"><%= t('issues.action.item') %>（<%= link_to t('issues.action.add'), new_issue_path %>）</th>
      <% end %>
    </tr>
  </thead>

  <tbody>
    <% @issues.each do |issue| %>
      <tr>
        <td><%= link_to issue.title, issue %></td>
        <td><%= issue.project %></td>
        <td><%= issue.status %></td>
        <td><%= issue.priority %></td>
        <% if current_user %>
        <td><%= link_to t('issues.action.edit'), edit_issue_path(issue) %></td>
        <td><%= link_to t('issues.action.destroy.item'), issue, method: :delete, data: { confirm: t('issues.action.destroy.confirm') } %></td>
        <% end %>
      </tr>
    <% end %>
  </tbody>
</table>
<br>