<p id="notice"><%= notice %></p>

<%= @issue.id %>

<div class="ts segments">
    <div class="ts info segment">
        <strong>Project:</strong>
    </div>
    <div class="ts segment">
        <%= @issue.project %>
    </div>
</div>

<div class="ts segments">
    <div class="ts info segment">
        <strong>Title:</strong>
    </div>
    <div class="ts segment">
        <%= @issue.title %>
    </div>
</div>

<div class="ts segments">
    <div class="ts info segment">
        <strong>Context:</strong>
    </div>
    <div class="ts segment">
        <%= @issue.context %>
    </div>
</div>

<div class="ts segments">
    <div class="ts info segment">
        <strong>Asker:</strong>
    </div>
    <div class="ts segment">
        <%= @issue.asker %>
    </div>
</div>

<div class="ts segments">
    <div class="ts info segment">
        <strong>Developer:</strong>
    </div>
    <div class="ts segment">
        <%= @issue.developer %>
    </div>
</div>

<div class="ts segments">
    <div class="ts info segment">
        <strong>Status:</strong>
    </div>
    <div class="ts segment">
        <%= @issue.status %>
    </div>
</div>

<div class="ts segments">
    <div class="ts info segment">
        <strong>Priority:</strong>
    </div>
    <div class="ts segment">
        <%= @issue.priority %>
    </div>
</div>

<%= link_to 'Edit', edit_issue_path(@issue) %> |
<%= link_to 'Back', issues_path %>
