<h1 class="ts massive dividing header">
    <span class="sub header">
        <%= t'issues.number', num: @issue.id %>
    </span>
    <%= @issue.title %>
</h1>

<div class="ts grid">
    <div class="two column row">
        <div class="column">
            <h2 class="ts medium header">
                <%= t('issues.items.project') %>
                <span class="sub header"> <%= @issue.project %> </span>
            </h2>
        </div>
        <div class="column">
            <h2 class="ts medium header">
                <%= t('issues.items.priority') %>
                <span class="sub header"> <%= @issue.priority %> </span>
            </h2>
        </div>
        <div class="column">
            <h2 class="ts medium header">
                <%= t('issues.items.status') %>
                <span class="sub header"> <%= issue_status_text( @issue.status ) %> </span>
            </h2>    
        </div>
    </div>
</div>

<div class="ts divider"></div>

<div class="ts grid">
    <div class="four wide column">
        <h2 class="ts medium header">
            <%= t('issues.items.asker') %>
            <span class="sub header"> <%= @issue.asker %> </span>
        </h2>

        <h2 class="ts medium header">
            <%= t('issues.items.developer') %>
            <span class="sub header"> <%= @issue.developer %> </span>
        </h2>
        
        <%= link_to t('issues.action.edit') , edit_issue_path(@issue) , class: "ts positive button" if current_user %>
    </div>
    <div class="twelve wide column">
        <h2 class="ts massive header">
            <%= t('issues.items.context') %>
        </h2>
        <div>
            <%= simple_format(@issue.context) %>
        </div>
    </div>
</div>