<!DOCTYPE html>
<html>

<head>
    <title>Matsuura</title>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no" />
    <%= csrf_meta_tags %>
        <%= stylesheet_link_tag 'application', media: 'all' %>
</head>

<body>
    <main class="ts container">
        <%
        ts_class = "ts positive message" if notice
        ts_class = "ts negative message" if alert
    %>
            <div class="<%= ts_class %>">
                <%= notice  if notice %>
                    <%= alert if alert %>
            </div>
            <%= yield %>
    </main>
    <%= javascript_include_tag 'application' %>
</body>

</html>