<!DOCTYPE html>
<html>

<head>
    <title>マツウラ</title>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no" />
    <%= csrf_meta_tags %>
    <%= stylesheet_link_tag 'application', media: 'all' %>
    <%= yield :css %>
</head>

<body>
    <main class="ts container">
        <nav class="ts pointing secondary menu">
            <%= link_to t('navbar.issue-manage'), issues_path , class: "item" %>
            <div class="right menu">
                <% if current_user %>
                    <%= link_to t('navbar.logout'), destroy_user_session_path , method: :delete , class: "item" %>
                <% else %>
                    <%= link_to t('navbar.login'), new_user_session_path , class: "item" %>
                <% end %>
                <div id="i18n_menu" class="ts item dropdown">
                    <div class="text">
                        <%= t('navbar.language.dropdown') %>
                        <i class="globe icon"></i>
                    </div>
                    <i class="dropdown icon"></i>
                    <div class="menu">
                        <%= link_to "台灣正體", { locale: "zh-TW" } , { :class => "item" } %>
                        <%= link_to "中国简体", { locale: "zh-CN" } , { :class => "item" } %>
                        <%= link_to "English", { locale: "en" },{ class: "item" } %>
                        <%= link_to "日本語", { locale: "ja" },{ class: "item" } %>
                    </div>
                </div>
            </div>
        </nav>
        <%
            ts_class = "ts positive message" if notice
            ts_class = "ts negative message" if alert
        %>
        <div class="<%= ts_class %>">
            <%= notice if notice %>
            <%= alert  if alert  %>
        </div>
        <%= yield %>
    </main>
    <footer>
        <div class="ts container">
            <%= t("intro.title") %>
        </div>
    </footer>
    <%= javascript_include_tag 'application' %>
    <%= yield :js %>
</body>
</html>