<!DOCTYPE html>
<html>

<head>
    <title>マツウラ</title>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no" />
    <%= csrf_meta_tags %>
    <%= stylesheet_link_tag 'application', media: 'all' %>
    <%= yield :css %>
</head>

<body>
    <main class="ts container">
        <% if current_user %>
            <div class="ts pointing secondary menu">
                <%= link_to "バグ管理", issues_path , class: "item" %>
                <%= link_to "ログアウト", destroy_user_session_path , method: :delete , class: "right item" %>
            </div>
        <% end %>
        <%
            ts_class = "ts positive message" if notice
            ts_class = "ts negative message" if alert
        %>
        <div class="<%= ts_class %>">
            <%= notice if notice %>
            <%= alert  if alert  %>
        </div>
        <%= yield %>
    </main>
    <%= javascript_include_tag 'application' %>
    <%= yield :js %>
</body>

</html>