<!DOCTYPE html>
<html>

<head>
    <title>マツウラ</title>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no" />
    <%= csrf_meta_tags %>
    <%= stylesheet_link_tag 'application', media: 'all' %>
    <%= yield :css %>
</head>

<body>
    <main class="ts container">
        <nav class="ts pointing secondary menu">
        <% if current_user %>
            <%= link_to "バグ管理", issues_path , class: "item" %>
            <%= link_to "ログアウト", destroy_user_session_path , method: :delete , class: "right item" %>
        <% end %>
            <div id="i18n_menu" class="ts right item dropdown">
                <div class="text">
                    <%= t('navbar.language.dropdown') %>
                    <i class="globe icon"></i>
                </div>
                <i class="dropdown icon"></i>
                <div class="menu">
                    <%#= link_to "繁體中文", :controller => controller_name, :action => action_name, :locale => "zh-TW" , { :class => "item" } %>
                    <%= link_to "日本語", { controller: controller_name, action: action_name, locale: "ja" },{ class: "item" } %>
                    <%= link_to "English", { locale: "en" },{ class: "item" } %>
                </div>
            </div>
        </nav>
        <%
            ts_class = "ts positive message" if notice
            ts_class = "ts negative message" if alert
        %>
        <div class="<%= ts_class %>">
            <%= notice if notice %>
            <%= alert  if alert  %>
        </div>
        <%= yield %>
    </main>
    <%= javascript_include_tag 'application' %>
    <%= yield :js %>
</body>

</html>